# Discord Bot Token
DISCORD_TOKEN=
# these are unused currently:
# DISCORD_APP_ID=
# DISCORD_PUBLIC_KEY=

# Test Guild ID
GUILD_ID=

# Database configuration
# For self-hosting with PostgreSQL:
DATABASE_URL=postgres://postgres:postgres@localhost:5432/trusty_vote
# For local-only development you can also run without DATABASE_URL by using:
# cargo run --features embedded-postgres

# Log level
RUST_LOG=info
